@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');

.App {
  font-family: 'Roboto Condensed', sans-serif;
}

.nav {
  display: flex;
  width: 100%;
  padding: 25px;
  color: #fff;
  background: #000;
  font-size: 35px;
  font-weight: 800;
}

.list{
  margin-top: 30px;
  padding: 0 20px;
  text-align: left;
}

.list span {
  font-size: 20px;
  cursor: pointer;
}

.list span:active {
  transform: rotateX(10deg);
}

.list h3 {
  cursor: pointer;
}

.upgrade, .view  {
  margin: 10px 12px 0;
  width: 90px;
  height: 40px;
  color: #fff;
  background-color: #177b97;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.view {
  width: 150px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}

.publish {
  margin: 30px 10px;
}

.publish input {
  padding: 10px;
  width: 40%;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
}

.publish button {
  padding: 10px;
  margin: 10px;
  color: #fff;
  background-color: rgb(66, 65, 65);
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
