.App {
  text-align: center;
}

body {
  font-family: 'namusquare', sans-serif;
}

.black_nav {
  display: flex;
  width: 100%;
  padding: 20px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
}

.list{
  margin-top: 30px;
  padding: 0 20px;
  text-align: left;
}

.list span {
  font-size: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.list span:active {
  transform: rotateX(10deg);
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
